*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
.main{
    height: 85vh;
    width: 70%;
    margin: auto;
   border: 2px solid black;


   justify-content: center;
   align-items: center;
   margin-top: 80px;
   border-radius: 8px;
  
   display: flex;
   
   flex-direction: column;
}
.img{
   
 height: fit-content;
 width: 100%;
 
 padding-right: 80%;
 padding-left: 3%;

}
img{
    width: 100%;
    height: 14vh;
   
}
.h1{
    width: 100%;
    padding-left: 3%;
}
.home-main{

    width: 70%;
}
.home-main img{
    height: 55vh;
    width: 70%;
    margin-left: 10px;
    padding-left: 0%;
   


}
.home{
   display: flex;
 
   width: 100%;
   padding-left: 3%;

}
.home-in{
    height: 52vh;
    width: 100%;

}
.home-in-one{
    display: flex;
  
height: 7vh;
display: flex;
gap: 9px;
}
.home-in-one input{
    gap: 10px;
    width: 50%;

    border-radius: 5px;
    border: 2px solid black;

}
.home-in-two{
    display: flex;
height: 7vh;
display: flex;
margin-top: 4px;
}
.c{
    display: flex;
    gap: 2px;
}
.foot{
display: flex;
gap: 200px;
}
.fa-fa-eye-slash{
    height: 100vh;

}